.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    // Override Automatic Minimum Size
    // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    min-width: 0;
    min-height: 0;


    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
    }
}

.board-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid red;
    justify-content: center;
    text-align: center;
}

.save-button{
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 800;
}

