<div class="board-columns" cdkDropListGroup>
    <div class="board-column" *ngFor="let column of columnObject">
        <div class="column-title" (click)="columnNameChange(column)">
            <ng-container *ngIf="!editingColumn || editingColumn.id !== column.id">
            {{ column.name }}
            </ng-container>
            <ng-container *ngIf="editingColumn && editingColumn.id === column.id">
                <input type="text" [(ngModel)]="column.name" (blur)="onColumnNameBlur()">
            </ng-container>
        </div>
        <div 
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event, column.id)">
            <div class="task" *ngFor="let task of column.tasks" cdkDrag [cdkDragData]="{column}">
                {{ task.title }}
                <mat-icon class="delete-icon">close</mat-icon>
                <!-- <i class="material-icons delete-icon" (click)="taskDelete(task.id)">close</i> -->
                <p>{{ task.text }}</p>
            </div>
        </div>
    </div>
    <app-fab [columns]="columnObject"></app-fab>
</div>