<div class="board-columns" cdkDropListGroup>
    <div class="board-column" *ngFor="let column of columnObject">
        <div class="column-title" (click)="columnNameChange(column)">
            <ng-container *ngIf="!editingColumn || editingColumn.id !== column.id">
            {{ column.name }}
            </ng-container>
            <ng-container *ngIf="editingColumn && editingColumn.id === column.id">
                <mat-form-field>
                <mat-label>Column title</mat-label>
                <input matInput type="text" [(ngModel)]="column.name" (blur)="onColumnNameBlur()">
            </mat-form-field>
            </ng-container>
        </div>
        <div 
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event, column.id)">
            <div class="task" *ngFor="let task of column.tasks" cdkDrag [cdkDragData]="{column}">
                {{ task.title }}
                <mat-icon 
                [ngStyle]="{'color': (isInLastColumn(task)) ? 'green' : 'red'}" 
                class="task-icon" (click)="taskDelete(task.id)">
                {{[isInLastColumn(task) ? 'done' : 'close']}}
            </mat-icon>
                <p>{{ task.text }}</p>
            </div>
        </div>
    </div>
    <app-fab [columns]="columnObject"></app-fab>
</div>