.my-container {
    position: inherit;
    background: none;
}
.my-drawer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-drawer {
    padding: 30px;
    margin-top: 40px;
    background-color: transparent;
    z-index: 99;
}