.board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;

    .board-name {
        font-size: 20px;
        font-weight: bold;
        color: white;
        display: inline;
    }
}