
<div id="fab-dismiss" 
     *ngIf="fabTogglerState==='active'" 
     (click)="onToggleFab()">
</div>
<div class="fab-container">
    <button mat-fab class="fab-toggler"
            (click)="onToggleFab()">
      <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i>
    </button>
    <div [@speedDialStagger]="fabButtons.length">
      <button *ngFor="let btn of fabButtons"
              mat-mini-fab
              (click)="onFabClick(btn)"
              class="fab-secondary"
              matTooltip="{{btn.tooltip}}"
              matTooltipPosition="left"
              color="secondary">
        <i class="material-icons">{{btn.icon}}</i>
      </button>
    </div>
  </div>